* {
  margin: 0;
  padding: 0;
}

.activity-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url("/src/images/image 5.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.transparent-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  z-index: 1;
}

.back {
  position: absolute;
  top: 45px;
  left: 220px;
  width: 90px;
  height: 90px;
  cursor: pointer;
}

.top-icons {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: inherit;
}

.top-statusbar {
  position: relative;
  width: 400px;
  height: 20px;
  margin: 0 -40px;
}

.top-statusbar-banana {
  position: absolute;
  top: -12px;
  left: 110%;
  transform: translateX(-50%) rotate(-19deg);
  width: 80px;
  height: 45px;
  z-index: 1;
}

.card-select {
  position: relative;
  display: flex;
  align-items: center;
  top: 22%;
  left: 35%;
}

.vector-img {
  width: 100px;
  height: 50px;
}
.card-select-img1 {
  width: 150px;
  height: 70px;
}

.card-select-text {
  position: absolute;
  bottom: 36px;
  left: 120px;
  color: #11aec6;
  font-family: Nunito;
  font-weight: 800;
}

.image-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  position: absolute;
  top: 55%;
  right: 11%;
  transform: translateY(-50%);
  z-index: 2;
  gap: 50px;
}

.pink-images,
.blue-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pink-image,
.blue-image {
  width: 110px;
  height: 140px;
}

.match-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.match-content {
  position: relative;
  text-align: center;
  color: white;
  width: 200px;
  height: 200px;
}

.match-content p {
  margin-bottom: 10px;
  color: #ef8f35;
  font-family: Nunito;
  font-weight: 800;
  font-size: 50px;
}

.match-image img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(15deg);
}

.match-image img:nth-child(2) {
  transform: rotate(-10deg);
}

.bottom-card-select {
  position: relative;
  display: flex;
  align-items: center;
  top: 67%;
  left: 45%;
}

.arrow-img {
  width: 100px;
  height: 50px;
  margin-bottom: 30px;
}
.bottom-card-select-img {
  width: 150px;
  height: 75px;
}

.bottom-card-select-text {
  position: absolute;
  bottom: 23px;
  left: 30px;
  color: #11aec6;
  font-family: Nunito;
  font-weight: 800;
}

.next-page-link {
  position: absolute;
  bottom: 45px;
  right: 240px;
  cursor: pointer;
}

.next-page-image {
  width: 170px;
  height: auto;
}
